@charset "UTF-8";
/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    /*fontes*/
    --fontTitle: 'Stardos Stencil', cursive;
    --fontChapter: 'Roboto Condensed', sans-serif;
    --fontMain: 'Montserrat', sans-serif;
    



    /*cores*/
    --corTitle: #BC442D;
    --corBack: #38302a;
    --corBackDiv: #c8c8c8a2;
}


* {
    margin: 0;
    padding: 0;
}

body {
    text-align: justify;
    min-height: 100vh;
    background-image: linear-gradient(to right, black, grey );
}

header {
    min-width: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: radial-gradient(grey 10%, black);
}

header > h1#titulo {
    text-align: center;
    color: var(--corTitle);
    font-family: var(--fontTitle);
    font-size: 14vh;
    width: 14wh;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
    
}

header > p {
    font-family: var(--fontMain);
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 3vh;
    font-weight: bold;
}

nav {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    text-align: center;
}

nav > ul {
    padding: 10px;
}
nav > ul > li {
    display: inline;
    padding: 10px;   
    
}

nav > ul > li > a {
    font-family: var(--fontTitle);
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: var(--corTitle);
}

nav > ul > li > a:hover {
    border-bottom: 4px solid var(--corTitle);
}

main > section#destruction {
    background-image: url(imagens/fundo_destruido.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-position: 100%;
}

main > section#destruction02 {
    background-image: url(imagens/vidros.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}

main > section#destruction03 {
    background-image: url(imagens/casa_abandonada.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
}


h1#capitulo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    font-family: var(--fontChapter);
    font-size: 10vh;
    color: var(--corTitle);
}

div {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
}

div > p {
    text-indent: 50px;
    padding: 10px 10px 20px 10px;
    font-size: 2em;
    font-family: var(--fontMain);
    color: black;
    font-weight: 500;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    
}

.contents {
    background-color: var(--corBackDiv);
    border: 1px solid black;
    border-radius: 30px 0px 30px 0px;
}

.pages {
    color: white;
    text-align: center;
    font-family: var(--fontMain);
    font-size: 2em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    padding-bottom: 9px;
    font-weight: bold;

}

footer {
    text-align: center;
}
