@charset "UTF-8";
/*imports*/
@import url('https://fonts.googleapis.com/css2?family=Stardos+Stencil:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    /*fontes*/
    --fontTitle: 'Stardos Stencil', cursive;
    --fontChapter: 'Roboto Condensed', sans-serif;
    --fontMain: 'Montserrat', sans-serif;
    



    /*cores*/
    --corTitle: #BC442D;
    --corBack: #38302a;
    --corBackDiv: #c8c8c8a2;
    --corHover: #c78679;
}


* {
    margin: 0;
    padding: 0;
}

@media (max-width: 500px) {
    section > div > p {
        font-size: 1.5em;
    }

    section > div.contents {
        width: 400px;
    }

    
}
    


body {
    background-image: linear-gradient(to right, black, grey );
    font-size: 16px;
    width: 100vw;
    
}

main {
    margin: auto;
    
}

header {
    width: 100vw;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: radial-gradient(grey 10%, black);
}

header > h1#titulo {
    color: var(--corTitle);
    font-family: var(--fontTitle);
    font-size: 6rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.589);
    text-align: center;
    
}

header > p {
    font-family: var(--fontMain);
    color: white;
    text-align: center;
    font-style: italic;
    font-size: 2em;
    font-weight: bold;
}

nav {
    background-color: black;
    text-align: center;
    width: 100vw;
    
}

nav > ul {
    padding: 10px;
}
nav > ul > li {
    display: inline;
    padding: 10px;   
    
}

nav > ul > li > a {
    font-family: var(--fontTitle);
    text-decoration: none;
    font-size: 2em;
    padding: 5px;
    color: var(--corTitle);
    
}

nav > ul > li > a:hover {
    border-bottom: 4px solid var(--corTitle);
    color: var(--corHover);
    
}

main  {
    text-align: justify;
    
}

main > section#destruction {
    background-image: url(imagens/fundo_destruido.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
    
}

main > section#destruction02 {
    background-image: url(imagens/casa_destruida.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
   
}

main > section#destruction03 {
    background-image: url(imagens/casa_abandonada.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

section {
    margin: auto;
}

h1#capitulo {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    font-family: var(--fontChapter);
    font-size: 5em;
    color: var(--corTitle);
}

div {
    max-width: 999px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    
    
    
}

div > p {
    text-indent: 50px;
    padding: 10px 10px 20px 10px;
    font-size: 2rem;
    font-family: var(--fontMain);
    color: black;
    font-weight: 500;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
}

.contents {
    background-color: var(--corBackDiv);
    border: 1px solid rgba(0, 0, 0, 0.219);
    border-radius: 30px 0px 30px 0px;
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473);
    box-shadow: 6px 6px 13px rgba(0, 0, 0, 0.473);
    padding: 10px;
}

.pages {
    color: white;
    text-align: center;
    font-family: var(--fontMain);
    font-size: 2em;
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.253);
    padding: 15px 15px 9px 15px;
    font-weight: bold;
    

}

footer {
    font-family: var(--fontChapter);
    text-align: center;
    font-weight: bold;
    font-style: italic;
    color: var(--corTitle);
    padding: 10px;
}

footer > p > a {
    font-family: var(--fontMain);
    font-size: 1em;
    color: white;
    text-decoration: none;
    
}